<ion-modal-view ng-controller="FeedCommentModalCtrl">
    <ion-header-bar class="bar-royal">
        <button class="button button-icon button-clear {{theme.backIcon}}" ng-click="closeCommentModal()"></button>
        <h1 class="title">Comments</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="list dcard">
                <div class="item item-avatar">
                    <img ng-src="{{item.user.images.avatar.url}}">
                    <h2>{{item.user.full_name}}</h2>
                    <p>{{item.time}}</p>
                </div>
                <div class="dcard-body">
                    <p class="dcard-content padding-10 no-margin">{{item.content}}</p>
                    <div ng-html-compile="item.getItemContent()"></div>
                </div>
                <feed-action-bar-dir obj="item.item" parent="item"></feed-action-bar-dir>
            </div>
        </div>
        <div class="list">
            <div class="item item-avatar" ng-repeat="commentItem in commentItems">
                <img ng-src="{{commentItem.user.images.avatar.url}}" />
                <h2>{{commentItem.user.full_name}}</h2>
                <p class="no-cut-text">{{commentItem.text}}</p>
                <span class="time-right">{{commentItem.time}}</span>
                <div class="text-right">
                    <i class="material-icons action-icon" ng-class="{'active' : commentItem.is_like}" ng-click="commentItem.toggleCommentLike()">&#xE800;</i> <span class="small-text">{{commentItem.total_like}} Like{{commentItem.total_like > 1 ? 's' : ''}}</span>
                </div>
            </div>
        </div>
        <ion-infinite-scroll ng-if="canLoadMore" on-infinite="loadMore()" distance="60px"></ion-infinite-scroll>
    </ion-content>
    <ion-footer-bar align-title="left" class="">
        <div class="comment-footer-bar">
            <div>
                <input id="comment-text" ng-blur="hideKeyBoard()" ng-model="commentData.text" type="text" placeholder="Add comment here...">
            </div>
            <i class="material-icons comment-button" ng-click="onAddComment()">&#xE163;</i>
        </div>
    </ion-footer-bar>
</ion-modal-view>
