<ion-view>
    <div class="bar bar-header bar-royal">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        <h1 class="title">Home</h1>
    </div>
    <ion-content class="has-header">
        <ion-refresher ng-if="!isProcessing" on-refresh="doRefresh()"></ion-refresher>
        <div class="list">
            <div class="list dcard" ng-repeat="item in items">
                <div class="item item-avatar">
                    <img ng-src="{{item.user.images.avatar.url}}">
                    <h2>{{item.user.full_name}}</h2>
                    <p>{{item.time}}</p>
                </div>
                <div class="dcard-body">
                	<p class="dcard-content">{{item.content}}</p>
                	<div ng-html-compile="item.getItemContent()"></div>
                </div>
                <feed-action-bar-dir obj="item.item"></feed-action-bar-dir>
            </div>
        </div>
        <ion-infinite-scroll ng-if="canLoadMore" on-infinite="loadMore()" distance="60px"></ion-infinite-scroll>
    </ion-content>
</ion-view>
