<ion-view cache-view="false" hide-back-button="true" hide-nav-bar="true">
    <ion-header-bar class="bar-positive" align-title="center">
        <div class="buttons">
            <button class="button button-icon button-clear" back-dir></button>
        </div>
        <h1 class="title">Home</h1>
    </ion-header-bar>
    <left-content class="background-color-red media">
    </left-content>
    <ion-content class="has-header media overflow-initial  has-left-content has-right-content">
        <feed-display-dir></feed-display-dir>
    </ion-content>
    <right-content class="background-color-green media">
    </right-content>
    <a class="bt-post-feed" href="#/app/feed/add"><i class="material-icons">&#xE145;</i></a>
</ion-view>
