<ion-view hide-back-button="true" hide-nav-bar="true">
    <ion-header-bar class="bar-positive">
        <div class="buttons">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </div>
        <h1 class="title">Project</h1>
        <div class="buttons">
            <a class="button button-clear ion-plus" href="#/app/project/add"></a>
        </div>
    </ion-header-bar>
    <ion-content>
    	<div class="padding">

    	</div>
    </ion-content>
</ion-view>
