<ion-view hide-back-button="true" hide-nav-bar="true">
    <ion-header-bar class="bar-positive">
        <div class="buttons">
            <button class="button button-icon button-clear " back-dir></button>
        </div>
        <h1 class="title">Create a new task</h1>
    </ion-header-bar>
    <ion-content>
        <div class="padding">
            <form class="list" ng-submit="onCreateTask()">
                <label class="item item-input"><span class="input-label">Task Name</span>
                    <input ng-model="formData.task_name" type="text" placeholder="">
                </label>
                <button ng-if="!isProcessing" type="submit" class="button button-positive button-block  icon ion-android-add-circle"> Create a new Task</button>
                <div class="padding text-center" ng-if="isProcessing">
                    <ion-spinner class="spinner-positive" icon="lines"></ion-spinner>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
