<ion-view hide-nav-bar="true">
    <ion-content class="has-header login-page">
        <div class="login-page-content">
            <form ng-submit="doLogin()">
                <div class="site-login-logo">
                    <i class="material-icons">&#xE859;</i>
                </div>
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Username</span>
                        <input type="text" ng-model="loginData.login">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Password</span>
                        <input type="password" ng-model="loginData.password">
                    </label>
                    <label class="item">
                        <button class="button button-block button-positive" type="submit">Log in</button>
                    </label>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
