<ion-view cache-view="false" hide-back-button="true" hide-nav-bar="true">
    <ion-header-bar class="bar-positive" align-title="center">
        <div class="buttons">
            <button class="button button-icon button-clear" back-dir></button>
        </div>
        <h1 class="title">{{user.full_name}}</h1>
    </ion-header-bar>
    <!-- <ion-content class="has-header overflow-initial"> -->
    <div class="scroll-content has-header overflow-scroll">
        <div class="profile-header vertical-middle text-align-center" style="{{user.cover_photo ? 'background-image:url('+user.cover_photo.full.url+');' : ''}}">
            <div>
                <span class="profile_avatar" ng-style="myStyle={'background-image':'url(' + user.images.full.url + ')'}"></span>
                <h2 class="profile_title">{{user.full_name}}</h2>
            </div>
        </div>
        <div class="media center-content">
            <div>
                <feed-display-dir obj="feedConfig"></feed-display-dir>
            </div>
        </div>
    <!-- </ion-content> -->
    </div>
</ion-view>
