/* Empty. Add your own CSS if you like */

.ratio-image {
    position: relative;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.dcard {
    box-shadow: 0 0px 10px #DDD;
    -moz-box-shadow: 0 0px 10px #DDD;
    -webkit-box-shadow: 0 0px 10px #DDD;
}

.dcard .item-avatar {
    border-bottom: none;
}

.dcard-content:empty {
    display: none;
}

.dcontent {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: -1px;
    padding-top: 1px;
    margin-bottom: -1px;
    overflow-x: hidden;
    overflow-y: auto;
}

.dcontent:not(.has-header):not(.has-subheader) {
    top: 0;
}

.dcontent-scroll {}

.dleft-menu {
    background-color: #333;
}

.dleft-menu .list {
    background-color: #333;
}

.dleft-menu .list .item {
    border: none;
    background: transparent;
    color: #FFF;
    text-transform: uppercase;
    border-bottom: 1px solid #444;
}

.dleft-menu .list .item .item-content {
    background: transparent;
}

.user-image-menu {
    line-height: 40px;
}

.user-image-menu .item {
    background-color: #222 !important;
}

.time-right {
    font-size: 12px !important;
    right: 11px !important;
    top: 16px !important;
    position: absolute;
}

.feed-action-bar {}

.feed-action-bar a i {}

.no-border {
    border: none !important;
}

.no-padding {
    padding: 0px !important;
}

.no-margin {
    margin: 0px !important;
}

.padding-10 {
    padding: 10px;
}

.padding-20 {
    padding: 20px;
}

.comment-footer-bar {
    width: 100%;
    position: relative;
}

.comment-footer-bar div {
    margin-right: 50px;
    padding-left: 10px;
}

.comment-footer-bar div input {
    width: 100%;
}

.comment-button {
    position: absolute;
    right: 5px;
    top: 0px;
    color: #999;
    height: 32px;
    width: 32px;
    display: block;
    text-align: center;
    line-height: 32px;
}

.login-page .scroll {
    height: 100%;
}

.login-page-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: relative;
    height: 100%;
}

.login-page-content form {
    width: 100%;
    margin-top: -50px;
}

.site-login-logo {
    text-align: center;
    line-height: 128px;
    margin-bottom: 10px;
}

.site-login-logo i {
    font-size: 128px;
    color: #999;
}

.no-cut-text {
    text-overflow: initial !important;
    white-space: initial !important;
}

.float-right {
    float: right;
}

.text-right {
    text-align: right;
}

.small-text {
    font-size: 12px;
}

.action-icon {
    border-radius: 100%;
    background-color: #EEE;
    font-size: 16px !important;
    padding: 6px;
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

.action-icon.active {
    color: #FFF;
    background-color: #B33333;
}
