/* Empty. Add your own CSS if you like */

.ratio-image {
    position: relative;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.dcard {
    box-shadow: 0 0px 10px #DDD;
    -moz-box-shadow: 0 0px 10px #DDD;
    -webkit-box-shadow: 0 0px 10px #DDD;
}

.dcard .item-avatar {
    border-bottom: none;
}

.dcard-content:empty {
    display: none;
}

.dcontent {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: -1px;
    padding-top: 1px;
    margin-bottom: -1px;
    overflow-x: hidden;
    overflow-y: auto;
}

.dcontent:not(.has-header):not(.has-subheader) {
    top: 0;
}

.dcontent-scroll {}

.dleft-menu {
    background-color: #333;
}

.dleft-menu .list {
    background-color: #333;
}

.dleft-menu .list .item {
    border: none;
    background: transparent;
    color: #FFF;
    text-transform: uppercase;
    border-bottom: 1px solid #444;
}

.dleft-menu .list .item .item-content {
    background: transparent;
}

.user-image-menu {
    line-height: 40px;
}

.user-image-menu .item {
    background-color: #222 !important;
}

.time-right {
    font-size: 12px !important;
}

.feed-action-bar {}

.feed-action-bar a i {}

.no-border {
    border: none !important;
}

.no-padding {
    padding: 0px !important;
}

.no-margin {
    margin: 0px !important;
}

.padding-10 {
    padding: 10px;
}

.padding-20 {
    padding: 20px;
}
