<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-{{theme.mainClass}}">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <div id="main-content" ng-html-compile="getNavViewContent()"></div>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-content class="dleft-menu">
            <ion-list class="user-image-menu" ng-if="viewer">
                <ion-item class="item-avatar">
                    <img class="full-image" ng-src="{{viewer.images.full.url}}" /><span>{{viewer.full_name}}</span>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item ng-repeat="menu in menus" nav-clear menu-close href="#/app/{{menu.link}}">
                    {{menu.title}}
                </ion-item>
                <ion-item nav-clear menu-close ng-click="switchLiveMode()" ng-class="{'balanced' : bLiveSite, 'assertive' : !bLiveSite}">Switch Mode</ion-item>
                <ion-item nav-clear menu-close ng-click="logout()">LOGOUT</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
