<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-{{theme.mainClass}}" ng-if="showNavigationBar">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <div id="main-content" ng-html-compile="getNavViewContent()"></div>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-content class="dleft-menu">
            <ion-list class="user-image-menu" ng-if="$viewer.isUser()">
                <ion-item class="item-avatar" menu-close nav-clear href="#/app/user/profile/{{viewer.user_id}}">
                    <img class="image-menu-avatar full-image" ng-src="{{viewer.images.full.url}}" />
                    <span class="menu-full-name">{{viewer.full_name}}</span>
                    <span class="menu-email">{{viewer.email}}</span>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item ng-repeat="menu in menus" ng-if="canShowMenu(menu)" nav-clear menu-close href="#/app/{{menu.link}}">
                    {{menu.title}}
                </ion-item>
                <ion-item nav-clear menu-close ng-click="logout()" ng-if="$viewer.isUser()">Logout</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
